:root{
    --cor0: #FC6027;
    --cor1: #303033;
    --cor2: #FC4300;
    --cor3: #333333;
    --cor4: #EF653C;
    --cor5: #414099;
    --cor6: #4b4fa1;
    --cor7: #090909;
    --cor8: #FFFFFF;
    

}

body{
    background-color: rgb(253, 251, 249);
}

.container{
    background-color: burlywood;
}