@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.caixa-cadastro{
    width: 500px;
    height: 500px;
    margin: auto;
}

.nome-cadastro{
    margin-left: 125px;
}

#digitar-nome-cadastro{
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.celular-cadastro{
    margin-left: 125px;
}

#digitar-celular-cadastro{
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.email-cadastro{
    margin-left: 125px;
}

#digitar-email-cadastro{
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.senha-cadastro{
    margin-left: 125px;
}

#digitar-senha-cadastro{
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.confirmacao-senha-cadastro{
    margin-left: 125px;
}

#confirmar-senha-cadastro{
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.cadastro-label{
    color: gray;
}

.nome-cadastro, .celular-cadastro, .email-cadastro, .senha-cadastro, .confirmacao-senha-cadastro {
    margin-top: 10px;
}


#cadastrar{
    width: 300px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: #FE662E;
    color: white;
    font-size: large;
    margin-left: 100px;
    cursor: pointer;
}

.opcoes {
    margin-top: 12px;
    text-align: center;
}

#recuperar-senha {
    color: black;
    text-decoration: none;
}