@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

:root {
    --cor0: rgb(254, 68, 0);/*Laranja Fcamara*/
    --cor1: #FC4300;
    --cor2: #FC6027;
    --cor3: #EF653C;
    --cor4: #090909;
    --cor5: #303033;
    --cor6: #333333;
    --cor7: #333333d3;
    --cor8: #36357e; /*Azul Fcamara*/
    --cor9: #414099;
    --cor10: #404099;
    --cor11: #FFFFFF;
}

.logo{
    width: 36vh;
    height: 12vh;
    margin-left: 20vh;
}

.info{
    position: absolute;
    left: 85%;
    right: 16.67%;
    top: 3%;
    bottom: 16.67%;
}

.infox{
    position: absolute;
    left: 84.8%;
    top: 6%;
    color: var(--cor10);
    font-family: 'Montsserat', sans-serif;
    font-size: 2.5vh;
}

.close{
    position: absolute;
    left: 90%;
    right: 16.67%;
    top: 3%;
    bottom: 16.67%;
}

.closed{
    position: absolute;
    left: 89.9%;
    top: 6%;
    color: var(--cor10);
    font-family: 'Montsserat', sans-serif;
    font-size: 2.5vh;
}

.container{
    margin: auto;
}

.opcoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#text{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor10);
    font-size: 5vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    text-align: center;   
}

.agendar, .verAgendamento{
    border-radius: 0.4rem;
    border: 0.5vh solid var(--cor10);
    font-size: 2.5vh;
    font-family: 'Montserrat', sans-serif;
    width: 44vh;
    height: 10vh;
    background-color: var(--cor11);
}

/* .agendarlink {
    width: 44vh;
    height: 10vh; 
    border-radius: 0.4rem;
    border: 0.5vh solid white
} */

.agendar:nth-child(1), .verAgendamento:nth-child(1){
    margin-right: 5vh;
}

.agendar:hover, .verAgendamento:hover{
    cursor: pointer;
    color: var(--cor11);
    background-color: var(--cor10);
}
