@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

:root{
    
    --cor0: rgb(254, 68, 0); /*Laranja Fcamara*/
    --cor1: #FC4300;
    --cor2: #FC6027;
    --cor3: #EF653C;
    --cor4: #090909;
    --cor5: #303033;
    --cor6: #333333; 
    --cor7: #333333d3;  
    --cor8: #36357e; /*Azul Fcamara*/
    --cor9: #414099;
    --cor10: #4b4fa1; 
    --cor11: #FFFFFF;
}

div.caixa-login {
    width: 400px;
    height: 430px;
    border: 3px solid #FE5517;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
}

.email-login {
    margin-left: 75px;
    margin-top: 50px;
}

#digitar-email {
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

.senha-login {
    margin-left: 75px;
    margin-top: 20px;
}

#digitar-senha {
    width: 250px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 10px;
}

#login {
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 1px solid #FE5517;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #FE662E;
    color: white;
    font-size: large;
}

.cadastre-se {
    text-align: center;
    margin-top: 30px;
    color: gray;
}

.esqueci-senha {
    text-align: center;
    margin-top: 10px;
    color: gray;
}

.logo-fcamara {
    position: relative;
    padding: 10px 0px 0px 40px;
    width: 151px;
    height: 34px;
}

.login-label {
    color: gray;
}

nav {
    position: absolute;
    text-align: center;
    top: 1px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 0;
    padding-right: 100px;
}

nav a {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    transition: 0.3353s;
    color: #FE662E;
}

.link-cadastro {
    text-decoration: none;
    color: rgb(49, 46, 46);
}

.link-cadastro:hover {
    transition: 0.3353s;
    color: #FE662E;
}