@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

:root {
    --cor0: rgb(254, 68, 0);/*Laranja Fcamara*/
    --cor1: #FC4300;
    --cor2: #FC6027;
    --cor3: #EF653C;
    --cor4: #090909;
    --cor5: #303033;
    --cor6: #333333;
    --cor7: #333333d3;
    --cor8: #36357e; /*Azul Fcamara*/
    --cor9: #414099;
    --cor10: #404099;
    --cor11: #FFFFFF;
}

.logo{
    width: 36vh;
    height: 12vh;
    margin-left: 20vh;
}

.info{
    position: absolute;
    left: 85%;
    right: 16.67%;
    top: 3%;
    bottom: 16.67%;
}

.infox{
    position: absolute;
    left: 84.8%;
    top: 6%;
    color: var(--cor10);
    font-family: 'Montsserat', sans-serif;
    font-size: 2.5vh;
}

.close{
    position: absolute;
    left: 90%;
    right: 16.67%;
    top: 3%;
    bottom: 16.67%;
}

.closed{
    position: absolute;
    left: 89.9%;
    top: 6%;
    color: var(--cor10);
    font-family: 'Montsserat', sans-serif;
    font-size: 2.5vh;
}

.container{
    margin: auto;
    width: 100vh;
    
}

.opcoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#text{
    font-family: 'Montserrat', sans-serif;
    color: var(--cor10);
    font-size: 5vh;
    margin-bottom: 6vh;
    margin-top: 6vh;
    text-align: center;   
}

.submit{
    border-radius: 0.4rem;
    border: 0.5vh solid var(--cor10);
    font-size: 2.5vh;
    font-family: 'Montserrat', sans-serif;
    width: 47vh;
    height: 10vh;
    background-color: var(--cor11);
}

.submit:nth-child(1){
    margin-right: 5vh;
}

.submit:hover{
    color: var(--cor11);
    background-color: var(--cor10);
}

.box{
    margin: auto;
    width: 100vh;
    height: 50vh;
    margin-top: 4vh;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
    border-radius: 12px;
}

.title{
    position: absolute;
    left: 33%;
    right: 79.68%;
    top: 47.94%;
    bottom: 80.24%;
}

.title2{
    position: absolute;
    left: 39%;
    right: 42.34%;
    top: 47.94%;
    bottom: 80.24%;
}

.title3{
    position: absolute;
    left: 36%;
    right: 8.88%;
    top: 47.94%;
    bottom: 80.24%;
}

.title, .title2, .title3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #404099;
}

hr{
    position: absolute;
    left: 30.03%;
    right: 30.91%;
    top: 55%;
    bottom: 72.95%;
    border: 1px solid #A0A0A0;
}

#line2{
    position: absolute;
    left: 30.03%;
    right: 30.91%;
    top: 68%;
    bottom: 49.85%;
    border: 1px solid #A0A0A0;
}

#line3{
    position: absolute;
    left: 30.03%;
    right: 30.91%;
    top: 81%;
    bottom: 26.75%;
    border: 1px solid #A0A0A0;
}

#date{
    position: absolute;
    left: 33%;
    right: 77.25%;
    top: 60.56%;
    bottom: 58.36%;
}

#date1{
    position: absolute;
    left: 33%;
    right: 77.25%;
    top: 73%;
    bottom: 35.26%;
}

#date2{
    position: absolute;
    left: 33%;
    right: 77.25%;
    top: 86%;
    bottom: 12.16%;
}

#date, #date1, #date2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #555555;
}

.ocup{
    position: absolute;
    left: 45%;
    right: 45.16%;
    top: 60.39%;
    bottom: 28.43%;
}

.ocup1{
    position: absolute;
    left: 45.08%;
    right: 45.16%;
    top: 73%;
    bottom: 20.15%;
}

.ocup2{
    position: absolute;
    left: 45%;
    right: 45.16%;
    top: 86%;
    bottom: 12.31%;
}

.ocup, .ocup1, .ocup2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #555555;
}

.cancel{
    position: absolute;
    left: 61%;
    right: 9.37%;
    top: 59%;
    bottom: 57.14%;
}

.cancel2{
    position: absolute;
    left: 61%;
    right: 9.37%;
    top: 71%;
    bottom: 34.04%;
}

.cancel3{
    position: absolute;
    left: 61.1%;
    right: 9.37%;
    top: 84%;
    bottom: 34.04%;
}

.cancel, .cancel2, .cancel3{
    background-color: #404099;
    color: white;
    padding: 2vh vh;
    border-radius: 2vh;
    width: 15vh;
    height: 6vh;
}